<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinxqxs.trafficcamera.mapper.TrafficFlowDataMapper">

    <insert id="insertTrafficFlowData">
        insert into traffic_flow_data(camera_id,direction,start_time,car_count)
                    values (#{camera_id},#{direction},#{start_time},#{car_count})
    </insert>

    <select id="selectTrafficTrends5Min" resultType="java.util.Map">
        SELECT
            start_time AS time,
            car_count AS totalCount
        FROM traffic_flow_data
        WHERE camera_id = #{cameraId}
          AND start_time &gt;= #{beginTime}
          AND start_time &lt; #{endTime}
        ORDER BY start_time
    </select>

    <delete id="deleteByCameraIds">
        delete from traffic_flow_data where camera_id in
        <foreach item="cameraId" collection="cameraIds" open="(" separator="," close=")">
            #{cameraId}
        </foreach>
    </delete>

</mapper>